/* * {
  border: 1px solid black;
} */
body {
  background-color: whitesmoke;
}
.root-container {
  margin: 0!important;
}

.cover {
  background-image: url('./images/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 20em;
  display: flex;
  align-items: center;
}
.cover .title {
  color: white;
}
.subCurrentSubscription div {
  margin: auto;
}
.CurrentSubscription {
  background-color: rgb(255, 106, 24);
  height: 30em;
}
.CurrentSubscription title {
  margin: auto;
  padding-bottom: 20px;
}
.SubscriptionPlans, .CurrentSubscription {
  display: flex!important;
  flex-direction: column!important;
  justify-content: center!important;
}
.SubscriptionPlans {
  padding: 0;
  background-color: darkorange;
  height: 30em;
}
.CustomerService, .PersonalInformation, .SubscriptionPlans, .CurrentSubscription {
  margin: 10px;
}
.CustomerService {
  background-color: violet;
}
.PersonalInformation {
  background-color: yellowgreen; 
}
.PersonalInformation li {
  line-height: 3em;
}
.socialIcons svg {
  margin: 0 5px 0 5px;
}
.section-3 {
  background-color: slategrey;
}

